<div class="itineraries-new">
<h1>New itinerary</h1>
<!-- <%# render 'destination_itinerary' %> -->
<div class= "a-new-itinerary">
<div class="render-form">
<%= render 'form' %>
</div>

<%= link_to 'Back', itineraries_path %>
</div>
</div>
