<div class="itineraries-new">
<h1>New itinerary</h1>
<%# render 'destination_itinerary' %>
<div class="render-form">
<%= render 'form' %>
</div>

<div class="row">
<%= link_to 'Back', itineraries_path, class: "btn btn-default" %>
</div>
</div>
