<div class= "destination-edit">
<h1>Edit Destination</h1>

<div class= "render-form">
<%= render 'form' %>
</div>

<%= link_to 'Show', @destination %> |
<%= link_to 'Back', destinations_path %>
</div>
