// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #99CCFF;
}

.categories{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}

.categories-show{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}

.categories-edit{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}

.categories-new{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}

h1{
	text-align: center;
}



