// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.destinations{
	color: white;
}

.destination-show{
	color: white;
}

.destination-edit{
	color:white;
}

.destination-new{
	color:white;
}

h1{
	text-align: center;
}

.render-form{
	color: black;
}

.field-name{
	color: white;
}