// Place all the styles related to the Itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #99CCFF;
}

.itineraries{
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
}

.itineraries-show{
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
}

.itineraries-edit{
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
}

.itineraries-new{
	margin-right: 150px;
	margin-left: 150px;
	color: gray;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
}

h1{
	text-align: center;
}


.actions{
	color:black;
}