// Place all the styles related to the Itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.itineraries{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: #505050;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.itineraries-show{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: #505050;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.itineraries-edit{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: #505050;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}

.itineraries-new{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: #505050;
	margin-top: 70px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}

h1{
	text-align: center;
}


.actions{
	color:black;
}

#itinerary_itinerary_destination_destination_id{
	margin-top: 20px;
	margin-bottom: 15px
	
}

#itinerary_name {
	margin-bottom:15px;
}

.itinerary-info{
	padding-left: 250px;
}

ul{
	margin-left: 0px;
	padding-left: 0px;
}