// Place all the styles related to the pois controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poi{
	color: white;
}

.poi-edit{
	color:white;
}

.poi-show{
	color: white;
}

.poi-new{
	color: white;
}

h1{
	text-align: center;
}




