// Place all the styles related to the pois controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poi{
	color: white;
}

.poi-edit{
	color:white;
}

.poi-show{
	color: white;
}

.poi-new{
	margin-top: 70px;
	margin-right: 150px;
	margin-left: 150px;
	color: #505050;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Maven Pro', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}

.poi-name{
	font-family: 'Maven Pro', sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-weight:bold;
	font-size: 2em;
	color: #505050;
}

h3{
	margin-top: 100px;
	font-family: 'Maven Pro', sans-serif;

	color: white;
}

h1{

	text-align: center;
}

.poi-name{
	color: black;
}

.remove-category{
	color:black;
}
